:root {
  box-sizing: border-box;

  /* Colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  border-radius: 0.5rem;
  color: var(--very-light-gray);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  overflow: hidden;
  margin: 1rem;
  .card {
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 4.5rem 1.5rem 2rem;
    min-height: 25rem;
    &:first-child {
      --card-color: var(--bright-orange);
    }
    &:nth-child(2) {
      --card-color: var(--dark-cyan);
      border-radius: 0;
    }
    &:last-child {
      --card-color: var(--very-dark-cyan);
    }
    &__img {
      height: 4rem;
      width: 4rem;
      img {
        height: auto;
        width: 100%;
      }
    }
    h3 {
      font-size: 2rem;
      font-family: "Big Shoulders Display", cursive;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      color: var(--transparent-white);
      flex: 1;
      width: 95%;
    }
    button {
      background-color: var(--very-light-gray);
      border: 2px solid var(--card-color);
      border-radius: 1.5rem;
      color: var(--card-color);
      cursor: pointer;
      font-family: inherit;
      font-size: 0.9rem;
      padding: 1rem 2rem;
      transition: 0.5s;
      align-self: start;
      &:hover {
        background-color: var(--card-color);
        color: var(--very-light-gray);
        border: 2px solid var(--very-light-gray);
      }
    }
  }
}
